.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* NAVBAR */
.navbarcss{
  height: 80px;
  padding : 0px 50px;
  font-family: poppins;
  font-size: 20px;
  
}

.nav-link{
  padding: 0px 20px !important;
}
.navbar-collapse{
  padding-left: 50px;
}

/* TEXTFORM */
.headingtextform1{
  padding-top: 50px;
  font-size: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 900;
}

.abcd{
  border: 1px solid black;
  padding-top: 10px;
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
  
}
.buttonchange {
  color: black;
  border: 1px solid black;
  background: aliceblue;
}

.buttonchange.btn:hover  {
  color: rgb(255, 255, 255);
  border: 1px solid black;
  background: rgb(0, 0, 0) !important;
}

.headingtextform2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 900;
}

.paratextform1 {
  font-size: 25px;

}
.paratextform1span {
  font-size: 27px;
  font-weight: 800;
  color: green;

}

